.student-form {
  background: linear-gradient(to bottom right, #00ffff 0%, #ffcccc 66%);
  margin-left: 500px;
  margin-right: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.firstname-input, .lastname-input, .gender-input{
  margin-bottom: 10px;
}

.firstname-input input, .lastname-input input, .gender-input input{
  border-radius: 5px;
  padding: 5px;
  width: 250px;
}

.firstname-input label{
  /* margin-right: 10px; */
  margin-left: -170px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.lastname-input label{
  /* margin-right: 12px; */
  margin-left: -175px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.gender-input label{
  /* margin-right: 35px; */
  margin-left: -200px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.btn {
  border-radius: 10px;
}

.btn button {
  border-radius: 50px;
  font-weight: bold;
  padding: 5px;
}